---
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts', ({ data }) => data.draft !== true);
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Base title={`${post.data.title} - jokenpo.dev`} description={post.data.description}>
  <article class="w-full">
    <header class="mb-10">
      <h1>
        {post.data.title}
      </h1>
      <div class="flex flex-wrap gap-4 text-[0.95rem] font-mono text-gray-500 dark:text-gray-500 italic tracking-wide mt-4">
        <span>Publicado em: {post.data.date.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' })}</span>
        {post.data.tags && (
          <span class="flex gap-2">
            {post.data.tags.map((tag: string) => (
              <span class="text-blue-700 dark:text-brand">#{tag}</span>
            ))}
          </span>
        )}
      </div>
    </header>
    
    <div class="prose prose-lg dark:prose-invert max-w-none mt-8">
      <Content />
    </div>
  </article>
</Base>
